h1 {
    font-size: 70px;
    color: #004BA8;
}


.box {
    border: 3px solid #24272B;
    box-shadow: -20px 20px 0px #24272B;
}


#back {
    position: fixed;
    margin: 10px;
}

#back > a {
    margin: 10px;
    font-size: 70px;
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    /* font-weight: 500; */
    color: #004BA8;
}

#header {
    width: 50%;
    margin: auto;
}

#header > p {
    font-family: 'Work Sans', sans-serif;
    color: grey;
}

#gif {
    margin-top: 20px;
}

#gif > img {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 5px 10px -1px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1200px) {
    #title {
        font-size: 55px;
    }

    #back > a {
        font-size: 55px;
    }
}

@media only screen and (max-width: 800px) {

    #title {
        font-size: 25px;
    }

    #header > p {
        font-size: 10px;
    }

    .box {
        box-shadow: -5px 5px 0 #393E57;
    }

    #goal {
        box-shadow: -5px 5px 0 #FCB95C;
    }

    #back {
        position: absolute;
    }

    #back > a {
        font-size: 35px;
    }
}