/* body {
    background-color: #FCB95C;
} */

h1 {
    font-size: 70px;
    color: #715AFF;
}

li {
    margin-top: 3px;
}

#back {
    position: fixed;
    margin: 10px;
}

#back > a {
    margin: 10px;
    font-size: 70px;
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    /* font-weight: 500; */
    color: #715AFF;
}

#header {
    width: 50%;
    margin: auto;
}

#header > p {
    font-family: 'Work Sans', sans-serif;
    color: grey;
}

.box {
    border: 3px solid #102E4A;
    box-shadow: -20px 20px 0px #102E4A;
}

.subheader {
    font-weight: 500;
    text-decoration: underline;
    display: block;
    margin-top: 40px;
    margin-bottom: 3px;
}

#role > span {
    margin-bottom: 8px;
    font-weight: 500;
    display: block;
}

#goal {
    border: 3px solid #715AFF;
    box-shadow: -20px 20px 0px #715AFF;
}

.gif {
    margin-top: 20px;
    margin-bottom: 30px;
}

.gif > img {
    width: 100%;
}

.gif > #cad {
    width: 30%;
}

.gif > #task {
    width: 50%;
}

.list {
    margin-top: 0px;
}

#final {
    font-weight: 500;
}

#small-title {
    display: none;
}


@media only screen and (max-width: 1200px) {
    /* #title {
        display: none;
    } */

    #header > h1 {
        font-size: 50px;
    }

    #small-title {
        display: block;
        font-size: 45px;
        margin-bottom: 25px;
    }

    #back > a {
        font-size: 55px;
    }

    .gif > #task {
        width: 100%;
    }

    .gif > #cad {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    #header > p {
        font-size: 10px;
    }

    #header > h1 {
        font-size: 25px;
    }

    .box {
        box-shadow: -5px 5px 0 #102E4A;
    }

    #goal {
        box-shadow: -5px 5px 0 #715AFF;
    }

    #back {
        position: absolute;
    }

    #back > a {
        font-size: 35px;
    }

    .gif > #cad {
        width: 70%;
    }

}

