/* body {
    background-color: #FCB95C;
} */

h1 {
    font-size: 70px;
    color: #5983C3;
}

li {
    margin-top: 3px;
}

#header {
    width: 50%;
    margin: auto;
}

#header > p {
    font-family: 'PT Mono', monospace;
    color: grey;
}

.box {
    border: 3px solid #393E57;
    box-shadow: -20px 20px 0px #393E57, -1px 1px 2px #e0e0e0;
}

.subheader {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    display: block;
    margin-top: 40px;
    margin-bottom: 3px;
}

#role > span {
    margin-bottom: 8px;
    font-weight: bold;
    display: block;
}

#goal {
    border: 3px solid #FCB95C;
    box-shadow: -20px 20px 0px #FCB95C, -1px 1px 2px #e0e0e0;
}

#gif {
    margin-top: 20px;
    margin-bottom: 30px;
}

#gif > img {
    width: 70%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 5px 10px -1px rgba(0, 0, 0, 0.05);
}

.list {
    margin-top: 0px;
}

#final {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#small-title {
    display: none;
}


@media only screen and (max-width: 1200px) {
    #title {
        display: none;
    }

    #small-title {
        display: block;
        font-size: 35px;
    }
}

@media only screen and (max-width: 800px) {
    #header > p {
        font-size: 10px;
    }

    .box {
        box-shadow: -5px 5px 0 #393E57;
    }

    #goal {
        box-shadow: -5px 5px 0 #FCB95C;
    }
}

